@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-thumb:hover {
  background: #1d1d24 !important;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #1d1d24;
  background-color: #1d1d24;
}
*::-webkit-scrollbar {
  width: 7px;
  background-color: #1d1d24;
}
*::-webkit-scrollbar-thumb {
  background-color: #181820;
}

body {
  /* background-color: #1c1917; */
  /* color: #f7fafc; */
  box-sizing: border-box;
}

/* @layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
