/* styles.module.css */
.combinedEffect {
  background: linear-gradient(270deg, #ff00ff, #00ffff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  -o-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 4px 15px -3px rgba(255, 0, 255, 0.7),
      0 4px 6px -4px rgba(255, 0, 255, 0.5);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 4px 15px -3px rgba(255, 0, 255, 0.7),
      0 4px 6px -4px rgba(255, 0, 255, 0.5);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 4px 15px -3px rgba(255, 0, 255, 0.7),
      0 4px 6px -4px rgba(255, 0, 255, 0.5);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 4px 15px -3px rgba(255, 0, 255, 0.7),
      0 4px 6px -4px rgba(255, 0, 255, 0.5);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 4px 15px -3px rgba(0, 255, 255, 0.7),
      0 4px 6px -4px rgba(0, 255, 255, 0.5);
  }
}
