.fullscreenStories {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 999; /* Certifique-se de que esta camada esteja acima de tudo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1010; /* Garante que o botão de fechar esteja acessível */
}

.arrow {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1010;
}

.arrowLeft {
  left: 20px;
}

.arrowRight {
  right: 20px;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.navigation button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
